# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter Notebooks checkpoint
.ipynb_checkpoints/

# PyCharm project files
.idea/

# Log files
*.log

# Output folders (model checkpoints, results, logs)
models/
results/
logs/

# VS Code settings folder
.vscode/
